/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $font1;
    line-height: $header-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

// Headers
h1, h2, h3, h4, h5, h6 {
    margin-top: $header-margin * 1.5;
    line-height: $header-line-height;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: $header-size;
    margin-bottom: $header-margin;
    color: $h1;
    font-family: $font1;
    font-weight: $bold;
    text-transform: uppercase;
}

h2 {
    font-size: $header-size / 1.3;
    margin-bottom: $header-margin / 1.3;
    color: $h2;
    font-family: $font1;
    font-weight: $bold;
    text-transform: uppercase;
}

h3 {
    font-size: $header-size / 1.5;
    margin-bottom: $header-margin / 1.5;
    color: $h3;
    font-family: $font2;
    font-weight: $semiBold;
}

h4 {
    font-size: $header-size / 1.7;
    margin-bottom: $header-margin / 1.7;
    color: $h4;
    font-family: $font2;
    font-weight: $semiBold;
}

h5 {
    font-size: $header-size / 1.8;
    margin-bottom: $header-margin / 1.8;
    color: $h5;
    font-family: $font2;
    font-weight: $bold;
}

h6 {
    font-size: $header-size / 2;
    margin-bottom: $header-margin / 2;
    color: $h6;
    font-family: $font1;
    font-weight: $semiBold;
}



// Paragraphs
p {
    margin-bottom: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: $body;
    font-weight: $medium;
    font-family: $font2;

    &:last-of-type {
        margin-bottom: 0;
    }
}



// Links
a {
    color: $link;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
        color: $linkHover;
    }
}


// Lists
ul,
ol {
    margin: $paragraph-margin 0 0 20px;

    li {
        margin-top: 10px;
        line-height: $paragraph-line-height;
        color: $body
        ;
    }

    ul,
    ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: disc;
    }

    ul {

        li {
            list-style: circle;
        }
    }
}

ol {

    li {
        list-style: decimal;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    color: $blockquote-color;
    text-align: center;
    font-style: italic;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}


// Figure
figure {
    margin: $blockquote-margin 0;

    img {
        margin: 0;
    }
}

figcaption {
    margin-top: 10px;
    color: lighten($paragraph-color, 10%);
    font-size: $paragraph-margin * 0.8;
}


// Code
pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    border-radius: 3px;

    code {
        position: static;
        padding: 0;
        border: none;
        line-height: 1.5em;
    }
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: $font1;
    font-size: $paragraph-size / 1.2;
    color: darken($border-color, 70%);
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    border-radius: 3px;
}



// Misc Styles
em,
i,
.italic {
    font-style: italic;
}

strong,
b,
.bold {
    font-weight: $font-weight-bold;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}