#header-primary {
    background-color: $navPrimary;
    height: 127px;
}

#header-primary .menu-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    .logo{
        margin-right: auto;
        margin-left: 4%;
        img{
          max-width:90%; 
        }
    }
    .main-menu, .callout-menu {
        margin-left: 2vw;
        height: 100%;
        ul, ol {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        ul li {
            list-style: none;
            margin-top: 0;
            height: 100%;
            display: inline;
        }
        li a {
            display: inline-block;
            line-height: 127px;
            height: 100%;
            padding: 0 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: $navSecondary;
            font-size: 1vw;
            font-weight: 500;
            white-space: nowrap;
        }

        a:hover {
            color: $navRoll;
        }
    }
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        .nav-callout-item a {
            padding: 0 2vw;
            text-align: center;
            min-width: 12vw;
        }
        .nav-callout-item.item1 a{
            background-color: #e94b24 ;
        }
        .nav-callout-item.item1 a:hover{
            background-color: $navRoll;
            color: $navSecondary;
        }
        .nav-callout-item.item2 a{
            background-color: $button2;
        }
        .nav-callout-item.item2 a:hover{
            background-color: #373737;
            color: $navSecondary;
        }
    }
}
/*
=====================================================================
                         MOBILE MENU
=====================================================================
*/

 /*BURGER ICON */
 .burger {
    padding: 1rem;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: $navSecondary;
    margin: 5px;
    transition: all 0.3s ease-in;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
  }
  .burger:hover div {
    background-color: $hoverColor;
    color: $hoverColor;
  }
  .burger-toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: $hoverColor;
  }
  .burger-toggle .line2{
    opacity: 0;
  }
  .burger-toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: $hoverColor;
  }
/*MOBILE MENU*/
  #mobile.mobile-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 127px;
    background: $navPrimary;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 700ms;
  }
  #mobile.mobile-active{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 700ms;
  }
  #mobile .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-left: 0;
    
  }
  #mobile .menu .menu-item {
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
  
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
  }
  #mobile .menu .menu-item a{
    padding: 10px 10px;
    background-color: $navPrimary;
    border-top: dashed .5px transparent;
    display: block; 
    text-decoration: none;
    text-transform: uppercase;
    color: $navSecondary;
    font-family: $font1;
    font-weight: 500;
    font-size: calc(18pt + .22vw); 
  }
  #mobile .menu .menu-item a:hover{
    background-color: $button2;
  }
  #mobile .menu .menu-item a:active{
    background-color: $button2;
  }
  #mobile .sub-menu {
    display: none;
  }

   /*
  =====================================================================
                              FOOTER
  =====================================================================
  */
  #footer-2{
    padding: 2vw 0 2vw;
    background-color: #e94b24;
    .inner{
      .centerwrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .widget{
          width:50%;
        }
        .widget-1{
          border-right: 3px solid $white;
          #media_image-2 {
            padding: 0 20px;
          }
          #text-3{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            .textwidget {
              width: 45%;
              margin-left: 20px;
            }
            p{
              font-size: calc(12pt + .08vw);
            }
          }
        }
        .widget-2 {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
            .item {
              width: 25%;
              p {
                margin-bottom: 5px;
                &:nth-child(4){
                  margin-top: 20px;
                }
              }
              ul{
                margin: 0;
                padding: 0;
              li {
                list-style: none;
                margin-top: 5px;
                a{
                  font-weight: $medium;
                  color: $white;
                  text-transform: uppercase;
                  &:hover{
                    color: #313130;
                  }
                }
              }
            }
              .button.more-link{
                background: #21211e;
                border-color: #21211e;
                border: 3px solid;
                border-color: #21211e;
                padding: 5px 40px;
                font-size: calc(13px + .2vw);
                white-space: nowrap;
                &:hover{
                   background: transparent;
                   border-color: $white; 
                   color: $white;
                  }
              }
            }  
        }


      }
    }
  }
   /*
  =====================================================================
                         RESPONSIVE
  =====================================================================
  */
  @media only screen and (max-width: 1220px){
    .burger {
      display: block ;
    }
    #header-primary {
        .main-menu, .callout-menu{
        display: none;
        }
    }
  }
@media only screen and (min-width: 1220px){
    #mobile.mobile-active{
        visibility: hidden;
        opacity: 0;
    }
  }
@media only screen and (max-width: 1050px){
    #footer-2{
      .inner {
      .centerwrap {
        .widget {
          width: 100%;
        }
        .widget-1{
          border-right: none;
          margin-bottom: 20px;
          #text-3 {
            margin-top: 15px;
            .textwidget{
              width: 60%;
            }
          }
        }
      }
    }
    }
  }
  
@media only screen and (max-width: 800px){
    #footer-2{
      .inner{
        .centerwrap{
          .widget-2 {
            .item {
              width: 100%;
              text-align: center;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }